
    ::-webkit-scrollbar {
        width: 10
    }

    ::-webkit-scrollbar-track {
        background: '#eee'
    }

    ::-webkit-scrollbar-thumb {
        background: '#ccc'
    }

    ::-webkit-scrollbar-thumb:hover {
        background: '#aaa'
    }